{% extends 'components/admin-dashboard-base.html' %}
{% load static %}

{% block content %}
  {% block styles %}
    <style media="screen">
      .alert {
        margin-left: 25%;
        margin-right: 25%;
        padding: 20px;
        background-color: #f44336;
        color: white;
      }

      .w3-panel p {
        padding-top: 10px;
      }

      .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }

      .closebtn:hover {
        color: black;
      }

      .date-uploader {
        display: flex;
        justify-content: space-between;
      }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {% endblock styles %}

  <br>

  {%include 'components/admin-dashboard-cards.html'%}

  <br><br>
  {% comment %} <div class="container mt-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Notice Board
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            {% for n in all_notices %}
            <div class="alert alert-dismissible alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <div class="date-uploader">
                <div>{{ n.added_by }}</div>
                <div>{{ n.date }}</div>
              </div>
              <h5>{{ n.title }}</h5>
              <h6>{{ n.description }}</h6>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  
  
{% endblock content %}
