{% extends 'components/admin-dashboard-base.html' %}

{% block content %}
<div class="container">
    <h2>Mark Attendance for {{ selected_class.name }}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="class_id" value="{{ selected_class.id }}">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input ml-2" type="radio" id="present_{{ student.id }}" name="student_{{ student.id }}" value="present">
                                <label class="form-check-label" for="present_{{ student.id }}">Present</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input ml-2" type="radio" id="absent_{{ student.id }}" name="student_{{ student.id }}" value="absent">
                                <label class="form-check-label" for="absent_{{ student.id }}">Absent</label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Save Attendance</button>
    </form>
</div>
{% endblock %}
