{% extends 'components/admin-dashboard-base.html' %}

{% block content %}
<div class="container">
    <h2>Select Class</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="class_id">Select Class:</label>
            <select class="form-control" id="class_id" name="class_id" required>
                <option value="">Select Class</option>
                {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
{% endblock %}
